<a href="https://colab.research.google.com/github/harsha1-hp/AI/blob/main/5e4_assign4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import files
uploaded=files.upload()

Saving slr09.xls to slr09.xls

In [7]:
import pandas
import io
dataset = pandas.read_excel("slr09.xls")

*** No CODEPAGE record, no encoding_override: will use 'ascii'

In [8]:
dataset

      X    Y
0   7.6  157
1   7.1  174
2   8.2  175
3   7.5  188
4   7.4  171
5   7.8  143
6   7.3  217
7   8.0  190
8   7.1  142
9   7.5  190
10  8.1  215
11  7.0  199
12  7.3  262
13  7.8  105
14  7.3  121
15  8.0   81
16  8.5   82
17  7.1  210
18  8.2  202
19  7.9  155
20  7.6  157
21  8.8  147
22  7.2  133
23  7.9   53
24  8.1   56
25  7.7  113
26  8.4   35
27  7.4  125
28  7.3   76
29  8.5   48
30  7.8  147
31  6.7  117
32  7.1  182
33  7.3   87

In [12]:
import numpy
maxX=numpy.max(dataset['X'])
maxY=numpy.max(dataset['Y'])
minX=numpy.min(dataset['X'])
minY=numpy.min(dataset['Y'])

In [15]:
normalized_x=[]
for i in range(dataset.shape[0]):
    normalized_x.append((dataset['X'][i]-minX)/(maxX-minX))
normalized_y=[]
for i in range(dataset.shape[0]):
    normalized_y.append((dataset['Y'][i]-minY)/(maxY-minY))
dataset['X']=normalized_x
dataset['Y']=normalized_y

In [16]:
dataset

           X         Y
0   0.428571  0.537445
1   0.190476  0.612335
2   0.714286  0.616740
3   0.380952  0.674009
4   0.333333  0.599119
5   0.523810  0.475771
6   0.285714  0.801762
7   0.619048  0.682819
8   0.190476  0.471366
9   0.380952  0.682819
10  0.666667  0.792952
11  0.142857  0.722467
12  0.285714  1.000000
13  0.523810  0.308370
14  0.285714  0.378855
15  0.619048  0.202643
16  0.857143  0.207048
17  0.190476  0.770925
18  0.714286  0.735683
19  0.571429  0.528634
20  0.428571  0.537445
21  1.000000  0.493392
22  0.238095  0.431718
23  0.571429  0.079295
24  0.666667  0.092511
25  0.476190  0.343612
26  0.809524  0.000000
27  0.333333  0.396476
28  0.285714  0.180617
29  0.857143  0.057269
30  0.523810  0.493392
31  0.000000  0.361233
32  0.190476  0.647577
33  0.285714  0.229075

In [17]:
from sklearn.model_selection import train_test_split
x=dataset['X']
y=dataset['Y']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1,random_state=10)

In [19]:
def gradient(m,c,x,y):
    mderiv=-1*(y-m*x-c)*x
    cderiv=-1*(y-m*x-c)
    return mderiv,cderiv

m=numpy.random.uniform(-10,10)
c=numpy.random.uniform(-10,10)
eta=0.5
max_iter=1000

for iter in range(max_iter):
    for sample in range(x_train.shape[0]):
        delm,delc=gradient(m, c, x_train.iloc[sample], y_train.iloc[sample])
        m=m-eta*delm
        c=c-eta*delc
print('model parameter m and c',m,c)

model parameter m and c -0.3415269221585566 0.6830609053858352

In [21]:
y_pred_train = []
for i in x_train:
    y_pred = (m * i) + c
    y_pred_train.append(y_pred)
y_pred_train = numpy.array(y_pred_train)

In [22]:
y_pred_test = []
for i in x_test:
    y_pred = (m * i) + c
    y_pred_test.append(y_pred)
y_pred_test = numpy.array(y_pred_test)

In [23]:
y_train_denorm=[]
y_train_pred_denorm=[]
for i in range(y_train.shape[0]):
    y_train_denorm.append(y_train.iloc[i]*(maxY-minY)+minY)
    y_train_pred_denorm.append(y_pred_train[i]*(maxY-minY)+minY)
y_pred_train=y_train_pred_denorm
y_train=y_train_denorm

In [24]:
y_test_denorm=[]
y_test_pred_denorm=[]
for i in range(y_test.shape[0]):
    y_test_denorm.append(y_test.iloc[i]*(maxY-minY)+minY)
    y_test_pred_denorm.append(y_pred_test[i]*(maxY-minY)+minY)
y_pred_test=y_test_pred_denorm
y_test=y_test_denorm

In [25]:
import math
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import mean_absolute_error
rmse = math.sqrt(mean_squared_error(y_train, y_pred_train)) 
print('Root mean square error', rmse) 
mse = (mean_squared_error(y_train, y_pred_train)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_train, y_pred_train)
print('Mean absolute error', mae)

Root mean square error 52.13838925710648
Mean square error 2718.4116343255564
Mean absolute error 42.31191163817268

In [26]:
rmse = math.sqrt(mean_squared_error(y_test, y_pred_test)) 
print('Root mean square error', rmse) 
mse = (mean_squared_error(y_test, y_pred_test)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_test, y_pred_test)
print('Mean absolute error', mae)

Root mean square error 59.1962669857888
Mean square error 3504.198025052789
Mean absolute error 54.90229434083232